name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-18.04
    env:
      MIX_ENV: test
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: 1.13.1
              otp: 24.2
            lint: lint
          - pair:
              elixir: 1.7.4
              otp: 19.3.6.13
    steps:
      - uses: actions/checkout@v2

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.pair.otp }}
          elixir-version: ${{ matrix.pair.elixir }}

      - name: Install Dependencies
        run: |
          mix deps.get --only test
          mix deps.compile

      - name: Check that code is formatted
        run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - name: Check that there are no unused dependencies in mix.lock
        run: mix deps.get && mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - name: Compile with --warnings-as-errors
        run: mix compile --warnings-as-errors
        if: ${{ matrix.lint }}

      - name: Run tests
        run: mix test
